**/__pycache__/*
**/.ipynb_checkpoints/*
**/lightning_logs/*
**/wandb_logs/*
**/jobs_record/*
**/data/*
**/outputs/*
*.bib
*.err
*.out
*.csv
*.tsv
*.log
*.pt
*.gz
*.egg-info
*.sizes
**/result/*
**/build/*
**/dist/*
