**/__pycache__/*
**/.ipynb_checkpoints/*
**/lightning_logs/*
**/wandb_logs/*
**/jobs_record/*
**/data/*
**/encode_data/*
**/outputs/*
*.bib
*.err
*.out
*.csv
*.tsv
*.hic
*.log
*.pt
*.npy
*.pkl
*.bed
*.bedpe
*.ckpt
*.tar
*.fa
*.fai
*.gz
*.zip
*.egg-info
*.sizes
**/result/*
**/build/*
**/dist/*
